
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.animate-typewriter {
  overflow: hidden;
  border-right: .15em solid white; /* Change the border color to match the text color */
  white-space: nowrap;
  animation: typing 5s steps(40, end);
}
html, body {
  height: 100%;
  margin: 0;
}

